*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: linear-gradient(rgb(73, 179, 250), #fff);
    height: 350px;
    width: 100%;
    margin-top: 0%;
}

.footer {
    background-color: rgb(142, 200, 240);
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 3%;
}

.footer-top {
    background-color: rgb(73, 179, 250);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
}

.container {
    align-items: center;
    height: 560px;
    width: 70%;
    left: 15%;
    right: 15%;
    z-index: 1;
    border-radius: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: -5px 5px 8px 1px #536163 !important;
    box-shadow: -5px 5px 8px 1px #536163 !important;
}

.container-step {
    align-items: center;
    width: 65%;
    margin-left: 17%;
    right: 15%;
}

.shadow {
    -webkit-box-shadow: -5px 5px 8px 1px #536163 !important;
    box-shadow: -5px 5px 8px 0px #536163 !important;
    border-radius: 5px !important;
    background-color: #3B927B !important;
}